.App {
  text-align: center;
}

.App-header {
  height: 250px;
  text-shadow: 0 0 5px black;
  /* "padding: 0px" results in a strange margin being added to the top of the
   * page :(
   */
  padding: 1px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
  padding: 20px;
}
